.form-container {
  margin-top: 60px;
  background: #111;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-title {
  font-size: 1.5rem;
  text-align: center;
  font-weight: 500;
  color: #eee;
  margin-bottom: 20px;
}

.form-group {
  margin: 10px 0;
  width: 500px;
}

.checkbox-group {
  display: flex;
  align-items: center;
}

.checkbox-group label {
  font-size: 0.825rem;
  margin-left: 10px;
}

.form-group label {
  color: #eee;
  font-weight: 500;
}

.input-error {
  border: 1px solid rgb(255, 72, 72);
}

.error-message {
  color: rgb(255, 72, 72);
  font-size: 0.75rem;
  margin-top: 8px;
}

.form-control {
  background-color: #444;
  color: #eee;
}

.form-control::placeholder {
  color: #999;
}

.form-group select {
  background-color: #444;
  color: #eee;
  appearance: none;
}

.form-group select option:first-child {
  background-color: #555;
  color: #eee;
  font-weight: bold;
}

.btn-custom {
  border-radius: 5px;
  color: #eee;
  background-color: #49a1b8;
  font-weight: 500;
  font-size: 1rem;
  margin-top: 10px;
  transition: all 500ms ease;
}

.btn-custom:hover {
  background-color: #61dbfb;
}

.input-group-text {
  background-color: #333 !important;
  height: 100% !important;
  color: #eee !important;
  border: 1px solid #FFF !important;
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
  padding: 5px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-group label {
  color: #eee;
  font-weight: 500;
  display: block;
  margin-bottom: 5px;
}

.react-datepicker-wrapper {
  width: 100%;
}

.btn.btn-custom {
  width: 100%;
}

.alert {
  max-width: 500px;
}