.leaflet-container {
    margin: 0 auto;
    height: 600px;
    width: 60%;
    z-index: 1;
    border: 2px solid #007bff; /* Cor da borda do contêiner do mapa */
    border-radius: 8px; /* Cantos arredondados */
}

/* .leaflet-control {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 4px;
}

.leaflet-control-layers {
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
}


.leaflet-tile {
    transition: transform 0.3s ease;
}

.leaflet-tile:hover {
    transform: scale(1.05);
} */
