/* Remover o estilo de caixa padrão */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
  font-family: "Poppins", sans-serif;
}

.form-container {
  margin-top: 60px;
  background: #111;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.default-background {
  background: #111;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}

.text-title {
  color: #1C52B2;
  font-size: 4.5rem;
}

.map-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.map-card {
  max-width: 800px;
  width: 100%;
}